.col-lg-12{
    display: flex;
    justify-content: center;
    color: black;
}
.col-md-4{
    display: inline-flex;
    align-content: center;
    align-items: center; 
}
body{
    background-color: lightblue;
}